<!DOCTYPE html>

<html>
<head>
	<!-- Meta Data -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>@ViewBag.Title | Pioneer Montessori School</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.png">

	<!-- CSS ============================================ -->
	<link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css">
	<link rel="stylesheet" href="~/assets/css/vendor/icomoon.css">
	<link rel="stylesheet" href="~/assets/css/vendor/remixicon.css">
	<link rel="stylesheet" href="~/assets/css/vendor/magnifypopup.css">
	<link rel="stylesheet" href="~/assets/css/vendor/slick.css">
	<link rel="stylesheet" href="~/assets/css/vendor/odometer.css">
	<link rel="stylesheet" href="~/assets/css/vendor/lightbox.css">
	<link rel="stylesheet" href="~/assets/css/vendor/animation.css">
	<link rel="stylesheet" href="~/assets/css/vendor/jqueru-ui-min.css">
	<link rel="stylesheet" href="~/assets/css/vendor/swiper-bundle.min.css">
	<link rel="stylesheet" href="~/assets/css/vendor/tipped.min.css">



	<!-- Site Stylesheet -->
	<link rel="stylesheet" href="~/assets/css/app.css">
	@RenderSection("PageWiseStyleSheet", required: false)
</head>
<body class="sticky-header">
	<div id="edublink-preloader">
		<div class="loading-spinner">
			<div class="preloader-spin-1"></div>
			<div class="preloader-spin-2"></div>
		</div>
		<div class="preloader-close-btn-wraper">
			<span class="btn btn-primary preloader-close-btn">
				Cancel Preloader
			</span>
		</div>
	</div>
	<div id="main-wrapper" class="main-wrapper">

		<!--=====================================-->
		<!--=        Header Area Start       	=-->
		<!--=====================================-->
		<header class="edu-header header-style-1 header-fullwidth no-topbar">
			<div id="edu-sticky-placeholder"></div>
			<div class="header-mainmenu">
				<div class="container-fluid">
					<div class="header-navbar">
						<div class="header-brand">
							<div class="logo">
								<a asp-area="" asp-controller="Web" asp-action="Index">
									<img class="logo-light" src="~/assets/images/pioneer-logo.png" alt=" Pioneer Montessori School Lucknow">

								</a>
							</div>
							<div class="logo-title">
								<h5 class="lt-main">PIONEER MONTESSORI SCHOOL</h5>
								<h6 class="lt-sub">(Lucknow - Barabanki)</h6>
								@*<h6 class="lt-sub">(Play Group to Degree Courses)</h6>*@
							</div>
						</div>
						<div class="header-mainnav">
							<nav class="mainmenu-nav">
								<ul class="mainmenu">
									<li >
										<a class="pr-15" asp-area="" asp-controller="Web" asp-action="Index">Home</a>
									</li>

									<li class="has-droupdown">
										<a href="#">About</a>
										<ul class="submenu">
											<li><a asp-area="" asp-controller="Web" asp-action="VisionMission">Vision & Mission</a></li>
											<li><a asp-area="" asp-controller="Web" asp-action="FoundersMessage">Founder's Message</a></li>
											<li><a asp-area="" asp-controller="Web" asp-action="ManagersMessage">Manager's Message</a></li>
											
										</ul>
									</li>

									<li class="has-droupdown">
										<a href="#">Admission </a>
										<ul class="submenu">
											<li><a asp-area="" asp-controller="Web" asp-action="AdmissionProcedure">Admission Procedure</a></li>
											<li><a asp-area="" asp-controller="Web" asp-action="FeeStructure">Fee Structure</a></li>
											<li><a asp-area="" asp-controller="Web" asp-action="Uniform">Uniform</a></li>
										</ul>
									</li>
									<li class="has-droupdown">
										<a href="#">Branches </a>
										<ul class="submenu">
											<li><a asp-area="" asp-controller="Web" asp-action="CBSEBoard">CBSE Board Branches</a></li>
											<li><a asp-area="" asp-controller="Web" asp-action="ICSEBoard">ICSE Board Branches</a></li>
											<li><a asp-area="" asp-controller="Web" asp-action="UPBoard">UP Board Branches</a></li>
											<li><a asp-area="" asp-controller="Web" asp-action="DegreeCollege">Degree College</a></li>
										</ul>
									</li>
									<li >
										<a class="pr-15" asp-area="" asp-controller="Web" asp-action="Infrastructure">Infrastructure </a>
									</li>
									<li class="has-droupdown">
										<a href="#">Gallery  </a>
										<ul class="submenu">
											<li><a asp-area="" asp-controller="Web" asp-action="PhotoGallery">Photo Gallery</a></li>
											<li><a asp-area="" asp-controller="Web" asp-action="VideoGallery">Video Gallery</a></li>
											<li><a asp-area="" asp-controller="Web" asp-action="MediaGallery">Media Gallery</a></li>
										</ul>
									</li>
									<li >
										<a class="pr-5" asp-area="" asp-controller="Web" asp-action="Downloads">Downloads</a>
									</li>
									<li >
										<a class="pr-5" asp-area="" asp-controller="Web" asp-action="ContactUs">Contact Us</a>
									</li>
									
								</ul>
							</nav>
						</div>
						<div class="header-right">
                            <ul class="header-action">
                               
                                <li class="mobile-menu-bar d-block d-xl-none">
                                    <button class="hamberger-button">
                                        <i class="icon-54"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
						
					</div>
				</div>
			</div>
			<div class="popup-mobile-menu">
				<div class="inner">
					<div class="header-top">
						<div class="logo">
							<a  asp-area="" asp-controller="Web" asp-action="Index">
								<img src="~/assets/images/logo-f.png" alt=" Pioneer Montessori School Lucknow">
							</a>
						</div>
						<div class="close-menu">
							<button class="close-button">
								<i class="icon-73"></i>
							</button>
						</div>
					</div>
					<ul class="mainmenu">
						<li >
										<a class="pr-15" asp-area="" asp-controller="Web" asp-action="Index">Home</a>
									</li>

									<li class="has-droupdown">
										<a href="#">About</a>
										<ul class="submenu">
											<li><a href="#">Vision & Mission</a></li>
											<li><a href="#">Founder's Message</a></li>
											<li><a href="#">Manager's Message</a></li>
											
										</ul>
									</li>

									<li class="has-droupdown">
										<a href="#">Admission </a>
										<ul class="submenu">
											<li><a href="#">Admission Procedure</a></li>
											<li><a href="#">Fee Structure</a></li>
											<li><a href="#">Uniform</a></li>
										</ul>
									</li>
									<li class="has-droupdown">
										<a href="#">Branches </a>
										<ul class="submenu">
											<li><a href="#">CBSE Board Branches</a></li>
											<li><a href="#">ICSE Board Branches</a></li>
											<li><a href="#">UP Board Branches</a></li>
											<li><a href="#">Degree College</a></li>
										</ul>
									</li>
									<li >
										<a class="pr-15" href="#">Infrastructure </a>
									</li>
									<li class="has-droupdown">
										<a href="#">Gallery  </a>
										<ul class="submenu">
											<li><a href="#">Photo Gallery</a></li>
											<li><a href="#">Video Gallery</a></li>
											<li><a href="#">Media Gallery</a></li>
										</ul>
									</li>
									<li >
										<a class="pr-5" href="#">Downloads</a>
									</li>
					</ul>
				</div>
			</div>
			<!-- Start Search Popup  -->
			<div class="edu-search-popup">
				<div class="content-wrap">
					<div class="site-logo">
						<img src="~/assets/images/logo/logo-dark.png" alt="Logo">
					</div>
					<div class="close-button">
						<button class="close-trigger"><i class="icon-73"></i></button>
					</div>
					<div class="inner">
						<form class="search-form" action="#">
							<input type="text" class="edublink-search-popup-field" placeholder="Search Here...">
							<button class="submit-button"><i class="icon-2"></i></button>
						</form>
					</div>
				</div>
			</div>
			<!-- End Search Popup  -->
		</header>
		<!--=====================================-->
		<!--=       Hero Banner Area Start      =-->
		<!--=====================================-->
		@RenderBody()

		 <!--=        Footer Area Start       	=-->
        <!--=====================================-->
        <!-- Start Footer Area  -->
        <footer class="edu-footer footer-lighten bg-image bg-image--12">
            <div class="footer-top">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-4 col-md-6">
                            <div class="edu-footer-widget">
                                <div class="logo">
                                    <a href="index.html">
                                        <img class="logo-dark" src="~/assets/images/logo-f.png" alt="Pioneer Montessori Schools">
                                    </a>
                                </div>
                                <p class="description">Pioneer Montessori Schools stand for Perfection, innovation, open mindedness, nationalism, education and excellence and rejuvenation.</p>
                                <div class="widget-information">
                                    <ul class="information-list">
                                        <li><span>Add:</span>Regd. Office : 649, Eldeco-Udyan-1, Lucknow</li>
                                        <li><span>Call:</span><a href="tel:+011235641231">+91-0522 433 1133, +91-7521 033 666</a></li>
                                        <li><span>Email:</span><a href="mailto:info@pioneermontessori.in">info@pioneermontessori.in</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6">
                            <div class="edu-footer-widget explore-widget">
                                <h4 class="widget-title">Links</h4>
                                <div class="inner">
                                    <ul class="footer-link link-hover">
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Courses</a></li>
                                        <li><a href="#">Instructor</a></li>
                                        <li><a href="#">Events</a></li>
                                        <li><a href="#">Become a Teacher</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6">
                            <div class="edu-footer-widget quick-link-widget">
                                <h4 class="widget-title">Services</h4>
                                <div class="inner">
                                    <ul class="footer-link link-hover">
                                        <li><a href="#">Library</a></li>
                                        <li><a href="#">Gallery</a></li>
                                        <li><a href="#">Partner</a></li>
                                        <li><a href="#">Location</a></li>
                                        <li><a href="#">News & Articles</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="edu-footer-widget">
                                <h4 class="widget-title">Contacts</h4>
                                <div class="inner">
                                    <p class="description">Enter your email address to register to our newsletter subscription</p>
                                    <div class="input-group footer-subscription-form">
                                        <input type="email" class="form-control" placeholder="Your email">
                                        <button class="edu-btn btn-medium" type="button">Subscribe <i class="icon-4"></i></button>
                                    </div>
                                    <ul class="social-share icon-transparent">
                                        <li><a href="#" class="color-fb"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#" class="color-linkd"><i class="icon-linkedin2"></i></a></li>
                                        <li><a href="#" class="color-ig"><i class="icon-instagram"></i></a></li>
                                        <li><a href="#" class="color-twitter"><i class="icon-twitter"></i></a></li>
                                        <li><a href="#" class="color-yt"><i class="icon-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="inner text-center">
                                <p>Copyright 2022 <a href="#"> Pioneer Montessori School Lucknow </a> | Designed By <a href="https://www.adventusindia.com/">Adventus</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Area  -->
	</div>
	<div class="rn-progress-parent">
		<svg class="rn-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
			<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
		</svg>
	</div>

	<!-- JS
	============================================ -->
	<!-- Modernizer JS -->
	<script src="~/assets/js/vendor/modernizr.min.js"></script>
	<!-- Jquery Js -->
	<script src="~/assets/js/vendor/jquery.js"></script>
	<script src="~/assets/js/vendor/bootstrap.min.js"></script>
	<script src="~/assets/js/vendor/sal.min.js"></script>
	<script src="~/assets/js/vendor/backtotop.js"></script>
	<script src="~/assets/js/vendor/magnifypopup.js"></script>
	<script src="~/assets/js/vendor/slick.js"></script>
	<script src="~/assets/js/vendor/jquery.countdown.min.js"></script>
	<script src="~/assets/js/vendor/jquery-appear.js"></script>
	<script src="~/assets/js/vendor/odometer.js"></script>
	<script src="~/assets/js/vendor/isotop.js"></script>
	<script src="~/assets/js/vendor/imageloaded.js"></script>
	<script src="~/assets/js/vendor/lightbox.js"></script>
	<script src="~/assets/js/vendor/wow.js"></script>
	<script src="~/assets/js/vendor/paralax.min.js"></script>
	<script src="~/assets/js/vendor/paralax-scroll.js"></script>
	<script src="~/assets/js/vendor/jquery-ui.js"></script>
	<script src="~/assets/js/vendor/swiper-bundle.min.js"></script>
	<script src="~/assets/js/vendor/svg-inject.min.js"></script>
	<script src="~/assets/js/vendor/vivus.min.js"></script>
	<script src="~/assets/js/vendor/tipped.min.js"></script>
	<script src="~/assets/js/vendor/viewport.jquery.js"></script>

	<!-- Site Scripts -->
	<script src="~/assets/js/app.js"></script>
	@RenderSection("PageWiseFooterScripts", required: false)
</body>
</html>
