@{
	ViewData["Title"] = "Admission Procedure";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!--=       Breadcrumb Area Start      	=-->
<!--=====================================-->
<div class="edu-breadcrumb-area breadcrumb-style-5">
 <div class="container">
  <div class="breadcrumb-inner">
   <ul class="edu-breadcrumb">
	<li class="breadcrumb-item"><a asp-area="" asp-controller="Web" asp-action="Index">Home</a></li>
	<li class="separator"><i class="icon-angle-right"></i></li>
	<li class="breadcrumb-item"><a href="#">Admission</a></li>
	<li class="separator"><i class="icon-angle-right"></i></li>
	<li class="breadcrumb-item active" aria-current="page">Admission Procedure</li>
   </ul>
  </div>
 </div>
</div>
<!--=====================================-->
<!--=       About Us Area Start      	=-->
<!--=====================================-->
<div class="gap-bottom-equal edu-about-area  about-style-1 AP-style-1 no-after-r">
 <div class="container edublink-animated-shape">
  <div class="row g-5 align-items-center">
   <div class="col-lg-6" data-sal-delay="150" data-sal="slide-right" data-sal-duration="800">
	<div class="about-image-gallery">
	 <img class="main-img-1" src="~/assets/images/about/About-1.jpg" alt="About Image">
					@* <div class="video-box" data-sal-delay="150" data-sal="slide-down" data-sal-duration="800">
						<div class="inner">
						<div class="thumb">
						<img src="~/assets/images/about/about-02.jpg" alt="About Image">
						<a href="https://www.youtube.com/watch?v=_jJKBLiFQ_4" class="popup-icon video-popup-activation">
						<i class="icon-18"></i>
						</a>
						</div>
						<div class="loading-bar">
						<span></span>
						<span></span>
						</div>
						</div>
						</div>*@
	 <div class="award-status bounce-slide">
	  <div class="inner">
	   <div class="icon">
		<i class="icon-21"></i>
	   </div>
	   <div class="content">
		<h6 class="title">Admission Open</h6>
		<span class="subtitle">Session 2022 - 2023</span>
	   </div>
	  </div>
	 </div>
	 <ul class="shape-group">
	  <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="1" src="~/assets/images/about/shape-36.png" alt="Shape">
	  </li>
	  <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="-1" src="~/assets/images/about/shape-37.png" alt="Shape">
	  </li>
	  <li class="shape-3 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="1" src="~/assets/images/about/shape-02.png" alt="Shape">
	  </li>
	 </ul>
	</div>
   </div>
   <div class="col-lg-6" data-sal-delay="150" data-sal="slide-left" data-sal-duration="800">
	<div class="about-content">
	 <div class="section-title section-left">
						@* <span class="pre-title">About Us</span>*@
	  <h3 class="title">Admission Procedure <span class="color-secondary"></span></h3>
	  <span class="shape-line"><i class="icon-19"></i></span>
	  <ul class="features-list">
	   <li>Application for admission is made to the principal of the concerned branch on a prescribed form.</li>
	   <li>Admission to any class except pre-primary is made after a pre-admission test, and on production of a valid transfer certificate from the previous institution.</li>
	   <li>Admission to pre-primary classes and play group is made according to the age of the child : 2-3 year of age for playgroup (Montessori); 4 year of age for Nursery and 5 year of age for the preparatory. A child's ability is also taken into consideration.</li>
	  </ul>


	 </div>

	</div>
   </div>
   <div class="col-lg-12" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
	<div class="about-content">
	 <div class="section-title section-left">
						@* <span class="pre-title">About Us</span>*@
	  <h4 class="title">General Rules <span class="color-secondary"></span></h4>
	  <span class="shape-line"><i class="icon-19"></i></span>
	  <ul class="features-list">

	   <li>
		Students of all classes should attend prayer meetings in the morning. Students coming late may not be allowed to enter
		the class without the principal's permission.
	   </li>
	   <li>Parents or their servants are not allowed to enter any class-room.</li>
	   <li>
		No child should be absent without a prior written leave application. In case of contagion illness, the child is not
		allowed to attend school without a fitness certificate from an authorised medical practitioner..
	   </li>
	   <li>
		The school does not accept responsibility for loss of books, money, clothes and other Items belonging the student.
		Each child is responsible for his/her own belongings.
	   </li>
	   <li>Every child is expected to contribute to the values and standards of the school by his/her conduct.</li>
	   <li>
		Students should keep their bicycles at the school cycle stand properly locked. School authorities will not be held
		responsible for any loss of unlocked cycles kept in the cycle stand.
	   </li>
	   <li>
		No child is allowed to bring mobile phone. Use of motor cycle or moped without a valid driving licence from government
		.
	   </li>
	   <li>It is compulsory for students to participate in school function, sports cultural and literary activities.</li>
	   <li>
		No child will be allowed to leave school during, school hours. In exceptional circumstances, the child will be allowed
		to go with the permission of the principal and accompanied by his/her parents.
	   </li>
	   <li>No jewellery is to be worn ( except a wrist watch) and no make-up of any kind is to be used. Nails are to be kept trimmed.</li>

	  </ul>


	 </div>

	</div>
   </div>
  </div>
  <ul class="shape-group">
   <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	<span data-depth="-2.3"></span>
   </li>
  </ul>
 </div>
</div>
<!--=====================================-->
