
@{
    ViewData["Title"] = "Downloads";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!--=       Breadcrumb Area Start      	=-->
<!--=====================================-->
<div class="edu-breadcrumb-area breadcrumb-style-5">
 <div class="container">
  <div class="breadcrumb-inner">
   <ul class="edu-breadcrumb">
	<li class="breadcrumb-item"><a asp-area="" asp-controller="Web" asp-action="Index">Home</a></li>
	
	<li class="separator"><i class="icon-angle-right"></i></li>
	<li class="breadcrumb-item active" aria-current="page">Downloads</li>
   </ul>
  </div>
 </div>
</div>
<!--=====================================-->
<!--=       About Us Area Start      	=-->
<!--=====================================-->
<div class="gap-bottom-equal edu-about-area  about-style-1 AP-style-1 no-after-r">
 <div class="container edublink-animated-shape">
  <div class="row g-5 align-items-center">

   <div class="col-lg-12" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
	<div class="about-content">
	 <div class="section-title section-left">
						@* <span class="pre-title">About Us</span>*@

	  <div class="order-summery checkout-summery">
	   <div class="summery-table-wrap">
		<h3 class="title">Downloads <span class="color-secondary"></span></h3>
		<span class="shape-line"><i class="icon-19"></i></span>
		

		

		<table class="table summery-table table-hover ">
                <thead>
                    <tr><th>Sr. No.</th>
                    <th>Title</th>
                    <th>Branch</th>
                    <th>Board</th>
                    <th>User Type</th>
                    <th>Download</th>
                    </tr></thead><tbody>
                        <tr>
                            <td>1</td>
                            <td>Admission Form for CBSE (Eldeco Colony)</td>
                            <td>Lucknow</td>
                            <td>CBSE Board</td>
                            <td>For Students</td>
                            <td><a class="edu-btn btn-sm" href="~/uploads/2019/05/cbse_admission_form-1.pdf" target="_blank">Download</a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Admission Form (Jankipuram)</td>
                            <td>Lucknow</td>
                            <td>ICSE Board</td>
                            <td>For Students</td>
                            <td><a class="edu-btn btn-sm" href="~/uploads/2019/05/Applicant_Form_jankipuram1-merged.pdf" target="_blank">Download</a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Admission Form for UP Board</td>
                            <td>Lucknow</td>
                            <td>UP Board</td>
                            <td>For Students</td>
                            <td><a class="edu-btn btn-sm" href="~/uploads/2019/05/upboard_admission_form.pdf" target="_blank">Download</a></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Admission Form (Lakhperbagh)</td>
                            <td>Barabanki</td>
                            <td>UP Board</td>
                            <td>For Students</td>
                            <td><a class="edu-btn btn-sm" href="~/uploads/2019/05/Applicant_Form_Lakhpeda_Bagh.pdf" target="_blank">Download</a></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Admission Form (Satya Premi Nagar)</td>
                            <td>Barabanki</td>
                            <td>UP Board</td>
                            <td>For Students</td>
                            <td><a class="edu-btn btn-sm" href="~/uploads/2019/05/upboard_admission_form.pdf" target="_blank">Download</a></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>PMS Teacher Vacancies Form</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a class="edu-btn btn-sm" href="~/uploads/2019/06/pmsteacher-vacancy-form_compressed.pdf" target="_blank">Download</a></td>
                        </tr>


                        <!--<h3>Recently Added</h3>-->
                        
</tbody></table>
	   </div>
	  </div>


	 </div>

	</div>
   </div>
   
  </div>
  <ul class="shape-group">
   <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	<span data-depth="-2.3"></span>
   </li>
  </ul>
 </div>
</div>
<!--=====================================-->

