@{
	ViewData["Title"] = "Fee Structure";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<!--=       Breadcrumb Area Start      	=-->
<!--=====================================-->
<div class="edu-breadcrumb-area breadcrumb-style-5">
 <div class="container">
  <div class="breadcrumb-inner">
   <ul class="edu-breadcrumb">
	<li class="breadcrumb-item"><a asp-area="" asp-controller="Web" asp-action="Index">Home</a></li>
	<li class="separator"><i class="icon-angle-right"></i></li>
	<li class="breadcrumb-item"><a href="#">Admission</a></li>
	<li class="separator"><i class="icon-angle-right"></i></li>
	<li class="breadcrumb-item active" aria-current="page">Fee Structure</li>
   </ul>
  </div>
 </div>
</div>
<!--=====================================-->
<!--=       About Us Area Start      	=-->
<!--=====================================-->
<div class="gap-bottom-equal edu-about-area  about-style-1 AP-style-1 no-after-r">
 <div class="container edublink-animated-shape">
  <div class="row g-5 align-items-center">

   <div class="col-lg-12" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
	<div class="about-content">
	 <div class="section-title section-left">
						@* <span class="pre-title">About Us</span>*@

	  <div class="order-summery checkout-summery">
	   <div class="summery-table-wrap">
		<h3 class="title">Fee Structure <span class="color-secondary"></span></h3>
		<span class="shape-line"><i class="icon-19"></i></span>
		

		<table class="table summery-table table-hover ">
		 <thead>
		  <tr>
		   <th>Sr. No.</th>
		   <th>Board</th>
		   <th>2020-2021</th>
		   <th>2021-2022</th>
		   <th>2022-2023</th>
		  </tr>
		 </thead>
		 <tbody>
		  <tr>
		   <td>1</td>
		   <td>CBSE Board</td>
		   <td><a class="edu-btn btn-sm" href="~/uploads/2021/FeeStructure_PMS_CBSE.pdf" target="_blank">View</a></td>
		   <td><a class="edu-btn btn-sm" href="~/uploads/2021/FeeStructure_PMS_CBSE.pdf" target="_blank">View</a></td>
		   <td><a class="edu-btn btn-sm" href="~/uploads/2021/FeeStructure_CBSE.pdf" target="_blank">View</a></td>
		  </tr>

		  <tr>
		   <td>2</td>
		   <td>UP Board</td>
		   <td><a class="edu-btn btn-sm" href="~/uploads/2021/FeeStructure_PMS_UP.pdf" target="_blank">View</a></td>
		   <td><a class="edu-btn btn-sm" href="~/uploads/2021/FeeStructure_PMS_UP.pdf" target="_blank">View</a></td>
		   <td><a class="edu-btn btn-sm" href="~/uploads/2021/FeeStructure_UP.pdf" target="_blank">View</a></td>
		  </tr>

		  <tr>
		   <td>3</td>
		   <td>ICSE Board</td>
		   <td><a class="edu-btn btn-sm" href="~/uploads/2021/FeeStructure_PMS_ICSE.pdf" target="_blank">View</a></td>
		   <td><a class="edu-btn btn-sm" href="~/uploads/2021/FeeStructure_PMS_ICSE.pdf" target="_blank">View</a></td>
		   <td><a class="edu-btn btn-sm" href="~/uploads/2021/FeeStructure_ICSE.pdf" target="_blank">View</a></td>
		  </tr>

		 </tbody>
		</table>
	   </div>
	  </div>


	 </div>

	</div>
   </div>
   
  </div>
  <ul class="shape-group">
   <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	<span data-depth="-2.3"></span>
   </li>
  </ul>
 </div>
</div>
<!--=====================================-->
