
@{
    ViewData["Title"] = "FoundersMessage";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<!--=       Breadcrumb Area Start      	=-->
<!--=====================================-->
<div class="edu-breadcrumb-area breadcrumb-style-5">
 <div class="container">
  <div class="breadcrumb-inner">
   <ul class="edu-breadcrumb">
	<li class="breadcrumb-item"><a asp-area="" asp-controller="Web" asp-action="Index">Home</a></li>
	<li class="separator"><i class="icon-angle-right"></i></li>
	<li class="breadcrumb-item"><a href="#">About</a></li>
	<li class="separator"><i class="icon-angle-right"></i></li>
	<li class="breadcrumb-item active" aria-current="page">Founder's Message</li>
   </ul>
  </div>
 </div>
</div>
<!--=====================================-->
<!--=       About Us Area Start      	=-->
<!--=====================================-->
<div class="edu-section-gap edu-about-area  about-style-5 ">
 <div class="container">
  <div class="row g-5  align-items-md-start">
   <div class="col-lg-5">
	<div class="about-image-gallery">
	 <div class="main-img-1" data-sal-delay="50" data-sal="slide-right" data-sal-duration="800">
	  <img src="~/assets/images/about/founder.png" alt="">
	 </div>

	 <ul class="shape-group">
	  <li class="shape-1 sal-animate" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img class="rotateit" src="~/assets/images/about/shape-09.png" alt="Shape">
	  </li>
	  <li class="shape-2 sal-animate" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img src="~/assets/images/about/shape-10.png" alt="Shape">
	  </li>
	 </ul>
	</div>
   </div>
   <div class="col-lg-7" data-sal-delay="50" data-sal="slide-up" data-sal-duration="800">
	<div class="about-content">
	 <div class="section-title section-left">
						@*  <span class="pre-title">About Us</span>*@
	  <h3 class="title">Founder's Message</h3>
	  <span class="shape-line"><i class="icon-19"></i></span>
	  <p>वर्ष 1963 में 2 छात्रों से शुरू किया गया पायनियर मोंटेसरी स्कूल 56 वर्ष का सफ़र तय करते हुए वर्ष 2020 में अपने 57 वें वर्ष में प्रवेश कर रहा है। अपने अभिभावकों के स्नेह, विश्वास एवं समस्त शिक्षक-शिक्षिकाओं व अन्य स्टाफ की मेहनत व लगन से वर्ष 1963 में नन्हें से पौधे के रूप में रोपा गया पायनियर मोंटेसरी स्कूल आज पीएमएस डिग्री कॉलेज तक का सफ़र तय कर चुका है।</p>

	  <p>यह सर्वविदित है कि परीक्षा पास करना और जीवन में सफलता पाना दोनों ही अलग है। पायनियर माण्टेसरी स्कूल का सदैव लक्ष्य रहा है कि अपने छात्र/छात्राओं को इस प्रकार शिक्षा दे जिससे वे अपनी वार्षिक परीक्षा के साथ-साथ जीवन के हर क्षेत्र में सफलता प्राप्त कर सकें।</p>

	  <p>हमें अत्यंत गर्व है अपनी शिक्षा पद्धति पर, जिसके आधार पर हमारे छात्र/छात्राओं ने सिद्ध किया है कि किसी भी परीक्षा में उन्हें किसी सहारे की जरूरत नहीं क्योंकि यह सर्वविदित है कि जिस इमारत की बुनियाद मजबूत हो उस इमारत को कैसा भी तूफ़ान हिला नहीं सकता।</p>

	  <p>हमें अपने छात्र/छात्राओं पर गर्व है, अपने अभिभावकों पर नाज़ है जो हम पर विश्वास करते है। हमें अपने शिक्षक/शिक्षकाओं पर फख्र है जो अपने ज्ञान मेहनत और अनुशाशन से छात्र/छात्राओं को शिक्षा प्रदान करते है। हम प्रशंशा करते है अपने प्रधानाचार्य मण्डल की जो एक अच्छे कैप्टन की तरह अपनी भूमिका का निर्वहन करते है। विद्यालय प्रबंधतंत्र सदैव प्रयासरत रहा है कि विद्यालय के छात्र/छात्राओं को विभिन्न विषयों पर समसामयिक जानकारी से उनके ज्ञान को बढ़ाया जा सके एवं इसलिए विभिन्न विषयों पर विद्वानों को विद्यालय में आमंत्रित कर कार्यशालाओं को का आयोजन प्रतिवर्ष किया जाता है। हमें आशा है कि हमारे अभिभावकों का सहयोग व हमें उसी प्रकार प्राप्त होता रहेगा एवं हम और अधिक उत्साह एवं लगन से अपने छात्र/छात्राओं के भविष्य को संवारने में अपने कर्तव्यों का निर्वहन करते रहेंगे।</p>

	  <p>अंत में अपने सभी छात्र/छात्राओं को उनके उज्जवल भविष्य की कामनाओं सहित : आपका ही</p>

	  <div class="content">
	   <h4 class="title">Late Shri Puran Singh</h4>
	   <h6 class="title2">(12<sup>th</sup> September 1935 - 31<sup>st</sup> August 2015)</h6>
	  </div>
	 </div>

	
	</div>
   </div>
  </div>
 </div>
</div>