@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section PageWiseFooterScripts {
<link rel="stylesheet" type="text/css" href="~/engine1/style.css" />
<script type="text/javascript" src="~/engine1/wowslider.js"></script>
<script type="text/javascript" src="~/engine1/script.js"></script>
}
<div class="hero-banner hero-style-7">
 <div id="wowslider-container1">
  <div class="ws_images">
   <ul>
	<li><img src="~/slider/slider1.jpg" alt="" title="" id="wows1_0" /></li>
	<li><img src="~/slider/slider2.jpg" alt="" title="" id="wows1_1" /></li>
	<li><img src="~/slider/slider3.jpg" alt="" title="" id="wows1_2" /></li>
	<li><img src="~/slider/slider4.jpg" alt="" title="" id="wows1_3" /></li>
	<li><img src="~/slider/slider5.jpg" alt="slider5" title="slider5" id="wows1_4" /></li>
   </ul>
  </div>
  <div class="ws_script"></div>
  <div class="ws_shadow"></div>
 </div>
</div>

