
@{
    ViewData["Title"] = "ManagersMessage";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<!--=       Breadcrumb Area Start      	=-->
<!--=====================================-->
<div class="edu-breadcrumb-area breadcrumb-style-5">
 <div class="container">
  <div class="breadcrumb-inner">
   <ul class="edu-breadcrumb">
	<li class="breadcrumb-item"><a asp-area="" asp-controller="Web" asp-action="Index">Home</a></li>
	<li class="separator"><i class="icon-angle-right"></i></li>
	<li class="breadcrumb-item"><a href="#">About</a></li>
	<li class="separator"><i class="icon-angle-right"></i></li>
	<li class="breadcrumb-item active" aria-current="page">Manager's Message</li>
   </ul>
  </div>
 </div>
</div>
<!--=====================================-->
<!--=       About Us Area Start      	=-->
<!--=====================================-->
<div class="edu-section-gap edu-about-area  about-style-5 ">
 <div class="container">
  <div class="row g-5  align-items-md-start">
   <div class="col-lg-5">
	<div class="about-image-gallery">
	 <div class="main-img-1" data-sal-delay="50" data-sal="slide-right" data-sal-duration="800">
	  <img src="~/assets/images/about/Manager.png" alt="">
	 </div>

	 <ul class="shape-group">
	  <li class="shape-1 sal-animate" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img class="rotateit" src="~/assets/images/about/shape-09.png" alt="Shape">
	  </li>
	  <li class="shape-2 sal-animate" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img src="~/assets/images/about/shape-10.png" alt="Shape">
	  </li>
	 </ul>
	</div>
   </div>
   <div class="col-lg-7" data-sal-delay="50" data-sal="slide-up" data-sal-duration="800">
	<div class="about-content">
	 <div class="section-title section-left">
						@*  <span class="pre-title">About Us</span>*@
	  <h3 class="title">Manager's Message</h3>
	  <span class="shape-line"><i class="icon-19"></i></span>
	  <p>शैक्षिक वर्ष 2018-2019 पायनियर माण्टेसरी स्कूल के लिए परिवर्तन का वर्ष रहा है । छात्रों के सर्वागीण विकास के लिए विभिन्न योजनाएँ शुरू हो गयी है । लखनऊ व बाराबंकी शाखाआँ के मध्य वीडियो कॉन्फ्रेसिंग सिस्टम, जानकीपुरम, सत्यप्रेमी नगर लखपेड़ा बाग़ एल्डिको शाखाओं में आडियो वीडियो कॉन्फ्रेंस रूम तैयार किए गये है जिनमें प्री-नर्सरी से डिग्री तक के छात्र-छात्राओ लिए शैक्षिक सामाजिक कार्यक्रम के साथ वाद-विवाद प्रतियोगिताओं का आयोजन भी लिया जाता है जिससे छात्र-छात्राओ के आत्मविश्वास में वृद्धि हो । स्मार्ट वलास, व अबेकस(Abacus) शुरू किये गये है इसके साथ साथ वैदिक गणित द्वारा भी छात्रों में गणित के प्रति रूचि उत्पन्न की जा रही है ।</p>

	  <p>वर्ष 2018-2019 में प्रदेश स्तरीय बाल विज्ञान काँग्रेस का तीन दिवसीय (प्रायोजन एल्डिको शाखा में किया गया जिसमेँ विद्यालय के छात्रो को इस आयोजन के लिए अनेक जिम्मेदारी दी गई जिसमेँ छात्रो ने प्रबन्धन में भी अपनी प्रतिभा दिखायी । इस दौरान देश के वरिष्ठ वैज्ञानिको से हमारे छात्र रूबरू हुए । पायनियर मॉण्टेसरी स्कूल वर्ष 1963 से अपने छात्र-छात्राओ के चहुंमुखी विकास के लिए पूरी तरह के प्रतिबद्ध है । इसलिए समय के साथ आज एवं भविष्य की आवश्यकताओं के अनुरूप बदलाओ को स्वीकार कर छात्रों की शिक्षा एवं दायित्व के लिए तदनुरूप परिवर्तन लिए जाते हैं शैक्षिक सत्र 2019-2020 हमारे लिए और भी महत्वपूर्ण है । इस वर्ष कक्षा 10 एवं कक्षा 12 का प्रथम बैच सी.बीएवंस.ई. की परीक्षा का होगा । पायनियर माण्टेसरी स्कूल with true education अपने छात्रो के उज्जवल भविष्य के लिए हमेशा प्रयास रत रहा है एव आने वाले समय में और बदलाव दिखायी देगे । अभिभावकों के सहयोग के लिए हम उनके आभारी है ।</p>

	  <p>पुनश्च: सभी को उज्जवल भविष्य की शुभकामनाएं ।</p>



	  <div class="content">
	   <h4 class="title">Er. Brajendra Singh</h4>
	   @*<h6 class="title2">(12<sup>th</sup> September 1935 - 31<sup>st</sup> August 2015)</h6>*@
	  </div>
	 </div>

	
	</div>
   </div>
  </div>
 </div>
</div>