
@{
    ViewData["Title"] = "PhotoGallery";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<!--=       Breadcrumb Area Start      	=-->
<!--=====================================-->
<div class="edu-breadcrumb-area breadcrumb-style-5">
 <div class="container">
  <div class="breadcrumb-inner">
   <ul class="edu-breadcrumb">
	<li class="breadcrumb-item"><a asp-area="" asp-controller="Web" asp-action="Index">Home</a></li>
	<li class="separator"><i class="icon-angle-right"></i></li>
	<li class="breadcrumb-item"><a href="#">Gallery</a></li>
	<li class="separator"><i class="icon-angle-right"></i></li>
	<li class="breadcrumb-item active" aria-current="page">Photo Gallery</li>
   </ul>
  </div>
 </div>
</div>
<!--=====================================-->
<!--=        Gallery Area Start            =-->
        <!--=====================================-->
        <div class="edu-gallery-area edu-section-gap">
            <div class="container">
                <div id="masonry-gallery" class="gallery-grid-wrap">
                    <div id="animated-thumbnials">


                        <a href="~/assets/images/gallery/gallery-10.jpg" class="edu-gallery-grid masonry-item">
                            <div class="thumbnail">
                                <img src="~/assets/images/gallery/gallery-10.jpg" alt="Gallery Image">
                            </div>
                            <div class="zoom-icon">
                                <i class="icon-69"></i>
                            </div>
                        </a>


                        <a href="~/assets/images/gallery/gallery-01.jpg" class="edu-gallery-grid masonry-item">
                            <div class="thumbnail">
                                <img src="~/assets/images/gallery/gallery-01.jpg" alt="Gallery Image">
                            </div>
                            <div class="zoom-icon">
                                <i class="icon-69"></i>
                            </div>
                        </a>


                        <a href="~/assets/images/gallery/gallery-06.jpg" class="edu-gallery-grid masonry-item">
                            <div class="thumbnail">
                                <img src="~/assets/images/gallery/gallery-06.jpg" alt="Gallery Image">
                            </div>
                            <div class="zoom-icon">
                                <i class="icon-69"></i>
                            </div>
                        </a>


                        <a href="~/assets/images/gallery/gallery-05.jpg" class="edu-gallery-grid masonry-item">
                            <div class="thumbnail">
                                <img src="~/assets/images/gallery/gallery-05.jpg" alt="Gallery Image">
                            </div>
                            <div class="zoom-icon">
                                <i class="icon-69"></i>
                            </div>
                        </a>


                        <a href="~/assets/images/gallery/gallery-08.jpg" class="edu-gallery-grid masonry-item">
                            <div class="thumbnail">
                                <img src="~/assets/images/gallery/gallery-08.jpg" alt="Gallery Image">
                            </div>
                            <div class="zoom-icon">
                                <i class="icon-69"></i>
                            </div>
                        </a>


                        <a href="~/assets/images/gallery/gallery-04.jpg" class="edu-gallery-grid masonry-item">
                            <div class="thumbnail">
                                <img src="~/assets/images/gallery/gallery-04.jpg" alt="Gallery Image">
                            </div>
                            <div class="zoom-icon">
                                <i class="icon-69"></i>
                            </div>
                        </a>


                        <a href="~/assets/images/gallery/gallery-11.jpg" class="edu-gallery-grid masonry-item">
                            <div class="thumbnail">
                                <img src="~/assets/images/gallery/gallery-11.jpg" alt="Gallery Image">
                            </div>
                            <div class="zoom-icon">
                                <i class="icon-69"></i>
                            </div>
                        </a>


                        <a href="~/assets/images/gallery/gallery-09.jpg" class="edu-gallery-grid masonry-item">
                            <div class="thumbnail">
                                <img src="~/assets/images/gallery/gallery-09.jpg" alt="Gallery Image">
                            </div>
                            <div class="zoom-icon">
                                <i class="icon-69"></i>
                            </div>
                        </a>


                        <a href="~/assets/images/gallery/gallery-07.jpg" class="edu-gallery-grid masonry-item">
                            <div class="thumbnail">
                                <img src="~/assets/images/gallery/gallery-07.jpg" alt="Gallery Image">
                            </div>
                            <div class="zoom-icon">
                                <i class="icon-69"></i>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <!--=====================================-->