@{
	ViewData["Title"] = "UPBoard";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<!--=       Breadcrumb Area Start      	=-->
<!--=====================================-->
<div class="edu-breadcrumb-area breadcrumb-style-5">
 <div class="container">
  <div class="breadcrumb-inner">
   <ul class="edu-breadcrumb">
	<li class="breadcrumb-item"><a asp-area="" asp-controller="Web" asp-action="Index">Home</a></li>
	<li class="separator"><i class="icon-angle-right"></i></li>
	<li class="breadcrumb-item"><a href="#">Branches </a></li>
	<li class="separator"><i class="icon-angle-right"></i></li>
	<li class="breadcrumb-item active" aria-current="page">UP Board Branches</li>
   </ul>
  </div>
 </div>
</div>
<!--=====================================-->
<!--=       About Us Area Start      	=-->
<!--=====================================-->
<div class="gap-bottom-equal edu-about-area  about-style-1 AP-style-1 no-after-r">
 <div class="container edublink-animated-shape">
  <div class="section-title section-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
   <span class="pre-title pre-textsecondary">Location</span>
   <h2 class="title">Lucknow Branch</h2>
   <span class="shape-line"><i class="icon-19"></i></span>
  </div>
  <div class="row g-5 align-items-center">
   <div class="col-lg-6" data-sal-delay="150" data-sal="slide-right" data-sal-duration="800">
	<div class="about-image-gallery">
	 <img class="main-img-1" src="~/assets/images/about/About-1.jpg" alt="">

	 <ul class="shape-group">
	  <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="1" src="~/assets/images/about/shape-36.png" alt="Shape">
	  </li>
	  <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="-1" src="~/assets/images/about/shape-37.png" alt="Shape">
	  </li>
	  <li class="shape-3 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="1" src="~/assets/images/about/shape-02.png" alt="Shape">
	  </li>
	 </ul>
	</div>
   </div>
   <div class="col-lg-6" data-sal-delay="150" data-sal="slide-left" data-sal-duration="800">
	<div class="about-content">
	 <div class="section-title section-left">
						@* <span class="pre-title">About Us</span>*@

	  <div class="order-summery checkout-summery">
	   <div class="summery-table-wrap">
		<h4 class="title">INDRANI NAGAR BRANCH<span class="color-secondary"></span></h4>



		<table class="table summery-table table-hover ">
		 <tbody>
		  <tr>
		   <td><strong>Address </strong></td>
		   <td valign="top">	Indrani Nagar, Kundri Rakabganj </td>
		  </tr>
		  <tr>
		   <td><strong>Classes </strong></td>
		   <td valign="top">Mont. to 10<sup>th</sup></td>
		  </tr>
		  <tr>
		   <td><strong>Principal </strong></td>
		   <td valign="top">Ms. Neesh Gupta</td>
		  </tr>
		  <tr>
		   <td><strong>Telephone </strong></td>
		   <td valign="top">2653501</td>
		  </tr>
		  <tr>
		   <td><strong>E-mail </strong></td>
		   <td valign="top">pmsicindraningr@yahoo.com</td>
		  </tr>
		 </tbody>
		</table>
	   </div>
	  </div>


	 </div>

	</div>
   </div>

  </div>

  <div class="row g-5 align-items-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
   <div class="col-lg-6">
	<div class="about-image-gallery">
	 <img class="main-img-1" src="~/assets/images/about/About-1.jpg" alt="">

	 <ul class="shape-group">
	  <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="1" src="~/assets/images/about/shape-36.png" alt="Shape">
	  </li>
	  <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="-1" src="~/assets/images/about/shape-37.png" alt="Shape">
	  </li>
	  <li class="shape-3 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="1" src="~/assets/images/about/shape-02.png" alt="Shape">
	  </li>
	 </ul>
	</div>
   </div>
   <div class="col-lg-6">
	<div class="about-content">
	 <div class="section-title section-left">
						@* <span class="pre-title">About Us</span>*@

	  <div class="order-summery checkout-summery">
	   <div class="summery-table-wrap">
		<h4 class="title">RAJAJIPURAM BRANCH<span class="color-secondary"></span></h4>



		<table class="table summery-table table-hover ">
		 <tbody>
		  <tr>
		   <td><strong>Address </strong></td>
		   <td>		C-4746, Rajajipuram</td>
		  </tr>
		  <tr>
		   <td><strong>Classes </strong></td>
		   <td>Mont. to 10<sup>th</sup></td>
		  </tr>
		  <tr>
		   <td><strong>Principal </strong></td>
		   <td>Mrs. Indu Gaur</td>
		  </tr>
		  <tr>
		   <td><strong>Telephone	 </strong></td>
		   <td>		2410382, 6570176</td>
		  </tr>
		  <tr>
		   <td><strong>E-mail </strong></td>
		   <td>
			pms4746rjpm@gmail.com
		   </td>
		  </tr>

		 </tbody>
		</table>
	   </div>
	  </div>


	 </div>

	</div>
   </div>

  </div>



  <div class="row g-5 align-items-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
   <div class="col-lg-6">
	<div class="about-image-gallery">
	 <img class="main-img-1" src="~/assets/images/about/About-1.jpg" alt="">

	 <ul class="shape-group">
	  <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="1" src="~/assets/images/about/shape-36.png" alt="Shape">
	  </li>
	  <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="-1" src="~/assets/images/about/shape-37.png" alt="Shape">
	  </li>
	  <li class="shape-3 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="1" src="~/assets/images/about/shape-02.png" alt="Shape">
	  </li>
	 </ul>
	</div>
   </div>
   <div class="col-lg-6">
	<div class="about-content">
	 <div class="section-title section-left">
						@* <span class="pre-title">About Us</span>*@

	  <div class="order-summery checkout-summery">
	   <div class="summery-table-wrap">
		<h4 class="title">RAJENDRA NAGAR BRANCH<span class="color-secondary"></span></h4>



		<table class="table summery-table table-hover ">
		 <tbody>
		  <tr>
		   <td><strong>Address</strong></td>
		   <td valign="top">206, Rajendra Nagar, Lucknow </td>
		  </tr>
		  <tr>
		   <td><strong>Classes</strong></td>
		   <td valign="top">11<sup>th</sup> to 12<sup>th</sup></td>
		  </tr>
		  <tr>
		   <td><strong>Principal	</strong></td>
		   <td valign="top">Mrs. Usha Suri</td>
		  </tr>
		  <tr>
		   <td><strong>Telephone	</strong></td>
		   <td valign="top">--</td>
		  </tr>
		  <tr>
		   <td><strong>E-mail	</strong></td>
		   <td valign="top">
			pmsicrn206@gmail.com
		   </td>
		  </tr>
		 </tbody>
		</table>
	   </div>
	  </div>


	 </div>

	</div>
   </div>

  </div>

  <div class="row g-5 align-items-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
   <div class="col-lg-6">
	<div class="about-image-gallery">
	 <img class="main-img-1" src="~/assets/images/about/About-1.jpg" alt="">

	 <ul class="shape-group">
	  <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="1" src="~/assets/images/about/shape-36.png" alt="Shape">
	  </li>
	  <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="-1" src="~/assets/images/about/shape-37.png" alt="Shape">
	  </li>
	  <li class="shape-3 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="1" src="~/assets/images/about/shape-02.png" alt="Shape">
	  </li>
	 </ul>
	</div>
   </div>
   <div class="col-lg-6">
	<div class="about-content">
	 <div class="section-title section-left">
						@* <span class="pre-title">About Us</span>*@

	  <div class="order-summery checkout-summery">
	   <div class="summery-table-wrap">
		<h4 class="title">BAGH SHER JUNG BRANCH<span class="color-secondary"></span></h4>



		<table class="table summery-table table-hover ">
		 <tbody>
		  <tr>
		   <td><strong>Address </strong></td>
		   <td>Subash Marg, Bagh Sher Jung</td>
		  </tr>
		  <tr>
		   <td><strong>Classes </strong></td>
		   <td>Mont. to 8<sup>th</sup></td>
		  </tr>
		  <tr>
		   <td><strong>Principal </strong></td>
		   <td>Miss. Jaya</td>
		  </tr>
		  <tr>
		   <td><strong>Telephone	 </strong></td>
		   <td>2265341</td>
		  </tr>
		  <tr>
		   <td><strong>E-mail </strong></td>
		   <td>
			pmsbjb@gmail.com
		   </td>
		  </tr>

		 </tbody>
		</table>
	   </div>
	  </div>


	 </div>

	</div>
   </div>

  </div>

  <div class="row g-5 align-items-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
   <div class="col-lg-6">
	<div class="about-image-gallery">
	 <img class="main-img-1" src="~/assets/images/about/About-1.jpg" alt="">

	 <ul class="shape-group">
	  <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="1" src="~/assets/images/about/shape-36.png" alt="Shape">
	  </li>
	  <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="-1" src="~/assets/images/about/shape-37.png" alt="Shape">
	  </li>
	  <li class="shape-3 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="1" src="~/assets/images/about/shape-02.png" alt="Shape">
	  </li>
	 </ul>
	</div>
   </div>
   <div class="col-lg-6">
	<div class="about-content">
	 <div class="section-title section-left">
						@* <span class="pre-title">About Us</span>*@

	  <div class="order-summery checkout-summery">
	   <div class="summery-table-wrap">
		<h4 class="title">RAJENDRA NAGAR BRANCH<span class="color-secondary"></span></h4>



		<table class="table summery-table table-hover ">
		 <tbody>
		  <tr>
		   <td><strong>Address </strong></td>
		   <td>338, Rajendra Nagar, Lucknow</td>
		  </tr>
		  <tr>
		   <td><strong>Classes </strong></td>
		   <td>Mont. to 12<sup>th</sup></td>
		  </tr>
		  <tr>
		   <td><strong>Principal </strong></td>
		   <td>Mrs. Asha C. Deniel</td>
		  </tr>
		  <tr>
		   <td><strong>Telephone	 </strong></td>
		   <td>2693724</td>
		  </tr>
		  <tr>
		   <td><strong>E-mail </strong></td>
		   <td>
			pmseng.rajendranagar@gmail.com
		   </td>
		  </tr>
		 </tbody>
		</table>
	   </div>
	  </div>


	 </div>

	</div>
   </div>

  </div>


  <div class="row g-5 align-items-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
   <div class="col-lg-6">
	<div class="about-image-gallery">
	 <img class="main-img-1" src="~/assets/images/about/About-1.jpg" alt="">

	 <ul class="shape-group">
	  <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="1" src="~/assets/images/about/shape-36.png" alt="Shape">
	  </li>
	  <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="-1" src="~/assets/images/about/shape-37.png" alt="Shape">
	  </li>
	  <li class="shape-3 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="1" src="~/assets/images/about/shape-02.png" alt="Shape">
	  </li>
	 </ul>
	</div>
   </div>
   <div class="col-lg-6">
	<div class="about-content">
	 <div class="section-title section-left">
						@* <span class="pre-title">About Us</span>*@

	  <div class="order-summery checkout-summery">
	   <div class="summery-table-wrap">
		<h4 class="title">GEETAPALLI BRANCH<span class="color-secondary"></span></h4>



		<table class="table summery-table table-hover ">
		 <tbody>
		  <tr>
		   <td><strong>Address </strong></td>
		   <td>Near Sujanpura, Alambagh</td>
		  </tr>
		  <tr>
		   <td><strong>Classes </strong></td>
		   <td>Mont. to 12<sup>th</sup></td>
		  </tr>
		  <tr>
		   <td><strong>Principal </strong></td>
		   <td>Mrs. Preeti Dixit</td>
		  </tr>
		  <tr>
		   <td><strong>Telephone	 </strong></td>
		   <td>2453812</td>
		  </tr>
		  <tr>
		   <td><strong>E-mail </strong></td>
		   <td>
			pmsgeetapalli@gmail.com
		   </td>
		  </tr>

		 </tbody>
		</table>
	   </div>
	  </div>


	 </div>

	</div>
   </div>

  </div>

  <div class="row g-5 align-items-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
   <div class="col-lg-6">
	<div class="about-image-gallery">
	 <img class="main-img-1" src="~/assets/images/about/About-1.jpg" alt="">

	 <ul class="shape-group">
	  <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="1" src="~/assets/images/about/shape-36.png" alt="Shape">
	  </li>
	  <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="-1" src="~/assets/images/about/shape-37.png" alt="Shape">
	  </li>
	  <li class="shape-3 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="1" src="~/assets/images/about/shape-02.png" alt="Shape">
	  </li>
	 </ul>
	</div>
   </div>
   <div class="col-lg-6">
	<div class="about-content">
	 <div class="section-title section-left">
						@* <span class="pre-title">About Us</span>*@

	  <div class="order-summery checkout-summery">
	   <div class="summery-table-wrap">
		<h4 class="title">RAJENDRA NAGAR (JUNIOR SECTION)<span class="color-secondary"></span></h4>



		<table class="table summery-table table-hover ">
		 <tbody>
		  <tr>
		   <td><strong>Address </strong></td>
		   <td>227, Rajendra Nagar</td>
		  </tr>
		  <tr>
		   <td><strong>Classes </strong></td>
		   <td>Mont. to 8<sup>th</sup></td>
		  </tr>
		  <tr>
		   <td><strong>Principal </strong></td>
		   <td>Miss. Sandhya</td>
		  </tr>
		  <tr>
		   <td><strong>Telephone	 </strong></td>
		   <td>2691645</td>
		  </tr>
		  <tr>
		   <td><strong>E-mail </strong></td>
		   <td>
			pmicrn206@gmail.com
		   </td>
		  </tr>
		 </tbody>
		</table>
	   </div>
	  </div>


	 </div>

	</div>
   </div>

  </div>

  <div class="row g-5 align-items-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
   <div class="col-lg-6">
	<div class="about-image-gallery">
	 <img class="main-img-1" src="~/assets/images/about/About-1.jpg" alt="">

	 <ul class="shape-group">
	  <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="1" src="~/assets/images/about/shape-36.png" alt="Shape">
	  </li>
	  <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="-1" src="~/assets/images/about/shape-37.png" alt="Shape">
	  </li>
	  <li class="shape-3 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="1" src="~/assets/images/about/shape-02.png" alt="Shape">
	  </li>
	 </ul>
	</div>
   </div>
   <div class="col-lg-6">
	<div class="about-content">
	 <div class="section-title section-left">
						@* <span class="pre-title">About Us</span>*@

	  <div class="order-summery checkout-summery">
	   <div class="summery-table-wrap">
		<h4 class="title">WATER WORKS BRANCH<span class="color-secondary"></span></h4>



		<table class="table summery-table table-hover ">
		 <tbody>
		  <tr>
		   <td><strong>Address </strong></td>
		   <td>Water Works Road, Aishbagh</td>
		  </tr>
		  <tr>
		   <td><strong>Classes </strong></td>
		   <td>Mont. to 8<sup>th</sup></td>
		  </tr>
		  <tr>
		   <td><strong>Principal </strong></td>
		   <td>Miss. Vandana Sharma</td>
		  </tr>
		  <tr>
		   <td><strong>Telephone	 </strong></td>
		   <td>2265874</td>
		  </tr>
		  <tr>
		   <td><strong>E-mail </strong></td>
		   <td>pmswwb@gmail.com</td>
		  </tr>

		 </tbody>
		</table>
	   </div>
	  </div>


	 </div>

	</div>
   </div>

  </div>

  <div class="row g-5 align-items-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
   <div class="col-lg-6">
	<div class="about-image-gallery">
	 <img class="main-img-1" src="~/assets/images/about/About-1.jpg" alt="">

	 <ul class="shape-group">
	  <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="1" src="~/assets/images/about/shape-36.png" alt="Shape">
	  </li>
	  <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="-1" src="~/assets/images/about/shape-37.png" alt="Shape">
	  </li>
	  <li class="shape-3 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="1" src="~/assets/images/about/shape-02.png" alt="Shape">
	  </li>
	 </ul>
	</div>
   </div>
   <div class="col-lg-6">
	<div class="about-content">
	 <div class="section-title section-left">
						@* <span class="pre-title">About Us</span>*@

	  <div class="order-summery checkout-summery">
	   <div class="summery-table-wrap">
		<h4 class="title">RAJAJIPURAM BRANCH<span class="color-secondary"></span></h4>



		<table class="table summery-table table-hover ">
		 <tbody>
		  <tr>
		   <td><strong>Address </strong></td>
		   <td>C-18, Rajajipuram</td>
		  </tr>
		  <tr>
		   <td><strong>Classes </strong></td>
		   <td>Mont. to 8<sup>th</sup></td>
		  </tr>
		  <tr>
		   <td><strong>Principal </strong></td>
		   <td>Mrs Debjani Pakrasi</td>
		  </tr>
		  <tr>
		   <td><strong>Telephone	 </strong></td>
		   <td>	2418784</td>
		  </tr>
		  <tr>
		   <td><strong>E-mail </strong></td>
		   <td>
			18pmsrjpm@gmail.com
		   </td>
		  </tr>

		 </tbody>
		</table>
	   </div>
	  </div>


	 </div>

	</div>
   </div>

  </div>

  <div class="row g-5 align-items-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
   <div class="col-lg-6">
	<div class="about-image-gallery">
	 <img class="main-img-1" src="~/assets/images/about/About-1.jpg" alt="">

	 <ul class="shape-group">
	  <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="1" src="~/assets/images/about/shape-36.png" alt="Shape">
	  </li>
	  <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="-1" src="~/assets/images/about/shape-37.png" alt="Shape">
	  </li>
	  <li class="shape-3 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="1" src="~/assets/images/about/shape-02.png" alt="Shape">
	  </li>
	 </ul>
	</div>
   </div>
   <div class="col-lg-6">
	<div class="about-content">
	 <div class="section-title section-left">
						@* <span class="pre-title">About Us</span>*@

	  <div class="order-summery checkout-summery">
	   <div class="summery-table-wrap">
		<h4 class="title">SADAR BRANCH<span class="color-secondary"></span></h4>



		<table class="table summery-table table-hover ">
		 <tbody>
		  <tr>
		   <td><strong>Address </strong></td>
		   <td>Infront of SBI, Sadar</td>
		  </tr>
		  <tr>
		   <td><strong>Classes </strong></td>
		   <td>	Mont. to 8<sup>th</sup></td>
		  </tr>
		  <tr>
		   <td><strong>Principal </strong></td>
		   <td>--</td>
		  </tr>
		  <tr>
		   <td><strong>Telephone	 </strong></td>
		   <td>--</td>
		  </tr>
		  <tr>
		   <td><strong>E-mail </strong></td>
		   <td>
			pmssadar@gmail.com
		   </td>
		  </tr>

		 </tbody>
		</table>
	   </div>
	  </div>


	 </div>

	</div>
   </div>

  </div>

  <div class="row g-5 align-items-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
   <div class="col-lg-6">
	<div class="about-image-gallery">
	 <img class="main-img-1" src="~/assets/images/about/About-1.jpg" alt="">

	 <ul class="shape-group">
	  <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="1" src="~/assets/images/about/shape-36.png" alt="Shape">
	  </li>
	  <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="-1" src="~/assets/images/about/shape-37.png" alt="Shape">
	  </li>
	  <li class="shape-3 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="1" src="~/assets/images/about/shape-02.png" alt="Shape">
	  </li>
	 </ul>
	</div>
   </div>
   <div class="col-lg-6">
	<div class="about-content">
	 <div class="section-title section-left">
						@* <span class="pre-title">About Us</span>*@

	  <div class="order-summery checkout-summery">
	   <div class="summery-table-wrap">
		<h4 class="title">ELDECO JUNIOR SECTION BRANCH<span class="color-secondary"></span></h4>



		<table class="table summery-table table-hover ">
		 <tbody>
		  <tr>
		   <td><strong>Address </strong></td>
		   <td>Sector-2, Udyan-1, Eldeco Colony</td>
		  </tr>
		  <tr>
		   <td><strong>Classes </strong></td>
		   <td>	Mont. to 5<sup>th</sup></td>
		  </tr>
		  <tr>
		   <td><strong>Principal </strong></td>
		   <td>	Mrs. Sharmila Singhk</td>
		  </tr>
		  <tr>
		   <td><strong>Telephone	 </strong></td>
		   <td>6543658</td>
		  </tr>
		  <tr>
		   <td><strong>E-mail </strong></td>
		   <td>
			pmseldeco@gmail.com
		   </td>
		  </tr>

		 </tbody>
		</table>
	   </div>
	  </div>


	 </div>

	</div>
   </div>

  </div>


  <ul class="shape-group">
   <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	<span data-depth="-2.3"></span>
   </li>
  </ul>
 </div>
</div>

<div class="gap-bottom-equal edu-about-area  about-style-1 AP-style-1 no-after-r">
 <div class="container edublink-animated-shape">
  <div class="section-title section-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
   <span class="pre-title pre-textsecondary">Location</span>
   <h2 class="title">Barabanki Branch</h2>
   <span class="shape-line"><i class="icon-19"></i></span>
  </div>
  <div class="row g-5 align-items-center">
   <div class="col-lg-6" data-sal-delay="150" data-sal="slide-right" data-sal-duration="800">
	<div class="about-image-gallery">
	 <img class="main-img-1" src="~/assets/images/about/About-1.jpg" alt="">

	 <ul class="shape-group">
	  <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="1" src="~/assets/images/about/shape-36.png" alt="Shape">
	  </li>
	  <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="-1" src="~/assets/images/about/shape-37.png" alt="Shape">
	  </li>
	  <li class="shape-3 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="1" src="~/assets/images/about/shape-02.png" alt="Shape">
	  </li>
	 </ul>
	</div>
   </div>
   <div class="col-lg-6" data-sal-delay="150" data-sal="slide-left" data-sal-duration="800">
	<div class="about-content">
	 <div class="section-title section-left">
						@* <span class="pre-title">About Us</span>*@

	  <div class="order-summery checkout-summery">
	   <div class="summery-table-wrap">
		<h4 class="title">SATYAPREMI NAGAR BRANCH<span class="color-secondary"></span></h4>



		<table class="table summery-table table-hover ">
		 <tbody>
		  <tr>
		   <td><strong>Address </strong></td>
		   <td>Near Chhaya Cinema, Barabanki</td>
		  </tr>
		  <tr>
		   <td><strong>Classes </strong></td>
		   <td>	Mont. to 10<sup>th</sup></td>
		  </tr>
		  <tr>
		   <td><strong>Principal </strong></td>
		   <td>Miss. Som Prabha Mishra</td>
		  </tr>
		  <tr>
		   <td><strong>Telephone	 </strong></td>
		   <td>
			05248-223474
		   </td>
		  </tr>
		  <tr>
		   <td><strong>E-mail </strong></td>
		   <td>
			pioneer.spn@rediffmail.com
		   </td>
		  </tr>

		 </tbody>
		</table>
	   </div>
	  </div>


	 </div>

	</div>
   </div>

     <div class="row g-5 align-items-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
   <div class="col-lg-6">
	<div class="about-image-gallery">
	 <img class="main-img-1" src="~/assets/images/about/About-1.jpg" alt="">

	 <ul class="shape-group">
	  <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="1" src="~/assets/images/about/shape-36.png" alt="Shape">
	  </li>
	  <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="-1" src="~/assets/images/about/shape-37.png" alt="Shape">
	  </li>
	  <li class="shape-3 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="1" src="~/assets/images/about/shape-02.png" alt="Shape">
	  </li>
	 </ul>
	</div>
   </div>
   <div class="col-lg-6">
	<div class="about-content">
	 <div class="section-title section-left">
						@* <span class="pre-title">About Us</span>*@

	  <div class="order-summery checkout-summery">
	   <div class="summery-table-wrap">
		<h4 class="title">LAKHPERABAGH BRANCH<span class="color-secondary"></span></h4>



		<table class="table summery-table table-hover ">
		 <tbody>
                      <tr>
                      <td><strong>Address </strong></td>
                      <td>Lakhpherabagh Colony, Barabanki</td>
                    </tr>
                    <tr>
                      <td><strong>Classes </strong></td>
                      <td>	Mont. to 12<sup>th</sup></td>
                    </tr>
                    <tr>
                      <td><strong>Principal </strong></td>
                      <td>Mrs. Rekha Mishra</td>
                    </tr>
                    <tr>
                      <td><strong>Telephone	 </strong></td>
                     <td>05248-229973</td>
                    </tr>
                     <tr>
                      <td><strong>E-mail </strong></td>
                      <td>	pmicbbklb@gmail.com
</td>
                    </tr>
                  
                  </tbody>
		</table>
	   </div>
	  </div>


	 </div>

	</div>
   </div>

  </div>
  </div>
 </div>
</div>
<!--=====================================-->
