@{
	ViewData["Title"] = "Vision Mission";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!--=       Breadcrumb Area Start      	=-->
<!--=====================================-->
<div class="edu-breadcrumb-area breadcrumb-style-5">
 <div class="container">
  <div class="breadcrumb-inner">
   <ul class="edu-breadcrumb">
	<li class="breadcrumb-item"><a asp-area="" asp-controller="Web" asp-action="Index">Home</a></li>
	<li class="separator"><i class="icon-angle-right"></i></li>
	<li class="breadcrumb-item"><a href="#">About</a></li>
	<li class="separator"><i class="icon-angle-right"></i></li>
	<li class="breadcrumb-item active" aria-current="page">Vision Mission</li>
   </ul>
  </div>
 </div>
</div>
<!--=====================================-->
<!--=       Vision Area Start            =-->
<!--=====================================-->
<div class="section-gap-large edu-about-area about-style-7">
 <div class="container">
  <div class="row g-5 align-items-center">
   <div class="col-lg-6">
	<div class="about-content vision">
	 <div class="section-title section-left" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
						@* <span class="pre-title">About Us</span>*@
	  <h3 class="title">Our Vision</h3>
	  <span class="shape-line"><i class="icon-19"></i></span>
	  <p>The strength for following the dreams comes from our six decades of rich experience, pride of producing achievers and motivation of utilising education as means to transform the society.In these days when strong winds of erosive culture are sweeping pillars of our moral and social values, P.M.S. lends strength to social and family fabric by blending the right values in education. We believe that we must adopt what is good in other cultures but should not be swept off our feet.</p>
	 </div>

	</div>
   </div>
   <div class="col-lg-6">
	<div class="about-image-gallery">
	 <img class="main-img-1" src="~/assets/images/about/about-04.jpg" alt="">
	 <img class="main-img-2" src="~/assets/images/about/about-12.jpg" data-sal-delay="150" data-sal="slide-down" data-sal-duration="800" alt="">
	 <ul class="shape-group">
	  <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="2" src="~/assets/images/about/shape-38.png" alt="Shape">
	  </li>
	  <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="-2" src="~/assets/images/about/shape-37.png" alt="Shape">
	  </li>
	  <li class="shape-3 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="-1.8" src="~/assets/images/about/shape-04.png" alt="Shape">
	  </li>
	  <li class="shape-4 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img src="~/assets/images/counterup/shape-02.png" alt="Shape">
	  </li>
	 </ul>
	</div>
   </div>
  </div>
 </div>
 <ul class="shape-group">
  <li class="shape-1" data-sal-delay="500" data-sal="fade" data-sal-duration="200"></li>
 </ul>
</div>
<!--=====================================-->
<!--=       Mission Area Start      		=-->
<!--=====================================-->
<div class="edu-about-area about-style-3 pt-0">
 <div class="container">
  <div class="row g-5 align-items-center">
   <div class="col-lg-6">
	<div class="about-image-gallery">
	 <img class="main-img-1" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800" src="~/assets/images/about/about-04.jpg" alt="About Image">
	 <img class="main-img-2" data-sal-delay="100" data-sal="slide-left" data-sal-duration="800" src="~/assets/images/about/about-05.jpg" alt="About Image">
	 <ul class="shape-group">
	  <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="2" src="~/assets/images/about/shape-13.png" alt="Shape">
	  </li>
	  <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="-2" src="~/assets/images/about/shape-39.png" alt="Shape">
	  </li>
	  <li class="shape-3 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <img data-depth="2" src="~/assets/images/about/shape-07.png" alt="Shape">
	  </li>
	  <li class="shape-4" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
	   <span></span>
	  </li>
	 </ul>
	</div>
   </div>
   <div class="col-lg-6" data-sal-delay="50" data-sal="slide-up" data-sal-duration="800">
	<div class="about-content mission">
	 <div class="section-title section-left">
						@*    <span class="pre-title">About Us</span>*@
	  <h3 class="title">Our Mission</h3>
	  <span class="shape-line"><i class="icon-19"></i></span>

	  <p> The P.M.S. has been a true pioneer in providing quality education and has stood as a lighthouse. Led by Prof. Puran Singh as its guiding beacon, our strength is our motivation, our qualified and dedicated staff and the support of our conscious and co-operative guardians. Share your dream for your child with us, we shall help you to realise that together.In these days when strong winds of erosive culture are sweeping pillars of our moral and social values, P.M.S. lends strength to social and family fabric by blending the right values in education. We believe that we must adopt what is good in other cultures but should not be swept off our feet.</p>
	 </div>

	</div>
   </div>

  </div>
 </div>
 <ul class="shape-group">
  <li class="shape-1">
   <img class="rotateit" src="~/assets/images/about/shape-13.png" alt="Shape">
  </li>
		@* <li class="shape-2 scene">
			<span></span>
			</li>*@
 </ul>
</div>
<!--=====================================-->
<!--=       Video Area Start            =-->
<!--=====================================-->
<div class="video-area-4">
 <div class="container">
  <div class="row justify-content-center">
   <div class="col-lg-9">
	<div class="video-gallery">
	 <div class="thumbnail">
	  <img src="~/assets/images/others/video-01.jpg" alt="Thumb">
	  <a href="https://www.youtube.com/watch?v=PICj5tr9hcc" class="video-play-btn video-popup-activation">
	   <i class="icon-18"></i>
	  </a>
	 </div>
	 <ul class="shape-group">
	  <li class="shape-1">
	   <img class="rotateit" src="~/assets/images/about/shape-25.png" alt="Shape">
	  </li>
	  <li class="shape-2">
	   <img src="~/assets/images/faq/shape-04.png" alt="Shape">
	  </li>
	  <li class="shape-3 scene">
	   <img data-depth="2" src="~/assets/images/faq/shape-14.png" alt="Shape">
	  </li>
	 </ul>
	</div>
   </div>
  </div>
 </div>
</div>
<!--=====================================-->
<!-- Start Brand Area  -->
<div class="edu-brand-area brand-area-5 ">
 <div class="container edublink-animated-shape">
  <div class="row justify-content-center">
   <div class="col-lg-6">
	<div class="section-title section-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
					@* <span class="pre-title">Testimonials</span>*@
	 <h3 class="title">Approved By</h3>
	 <span class="shape-line"><i class="icon-19"></i></span>
	
	</div>
   </div>
  </div>

  <div class="row g-5">
   <div class="col-3 masonry-item">
	<div class="thumbnail thumbnail-2" data-sal-delay="50" data-sal="slide-down" data-sal-duration="1000">
	 <img src="~/assets/images/about/board-1.png" alt="Up board">
	</div>
   </div>
   <div class="col-3 masonry-item">
	<div class="thumbnail thumbnail-1" data-sal-delay="50" data-sal="slide-down" data-sal-duration="1000">
	 <img src="~/assets/images/about/board-2.png" alt="">
	</div>
   </div>
   <div class="col-3 masonry-item">
	<div class="thumbnail thumbnail-4" data-sal-delay="50" data-sal="slide-up" data-sal-duration="1000">
	 <img src="~/assets/images/about/board-4.png" alt="">
	</div>
   </div>
   <div class="col-3 masonry-item">
	<div class="thumbnail thumbnail-3" data-sal-delay="50" data-sal="slide-up" data-sal-duration="1000">
	 <img src="~/assets/images/about/board-3.png" alt="">
	</div>
   </div>
  </div>


 </div>
</div>
<!-- End Brand Area  -->
